/* carrousel */
.scroll-down {
  position: absolute;
  top:60%;
  left: 49%;
  bottom: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 3;
  text-decoration: none;
  text-shadow: 0;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
  animation: fade_move-down 3s cubic-bezier(0.19,1, 0.22,1) infinite;
  }
  @keyframes fade_move-down{
  0%{
      transform: translate(0, -20px) rotate(45deg);
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: translate(0, 20px) rotate(45deg);
      opacity: 0;
  }
}



.carousel::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "  ";
    height: 40%;
    width: 100%;
    background: linear-gradient(to bottom, #000000, transparent);
}



.logocarrusel{
    position: absolute;
    top:15px;
    left: 60%;
    transform: translate(-50%);
}

.logocarrusel img{
    width: 50%;
    height: auto;
}

img{
    width: 100%;
    height: auto;
}





/* nav de arriba */
.titulo{
  font-family: 'Space Mono', monospace;
  position: relative;
  float: left;
  padding: 15px;
  padding-right: 90px;
  left: 75px;
  font-size: xx-large;
  font-weight: 650;
  border-right: solid black 6px;
}
.nav1 .titulo{
  color: #000;
  text-decoration: none;
}
.nav1{
  text-align:center;
  border-bottom: solid black 6px;
  height: 84px;
  background-color: white;
}
.b{
  color: #000;
  margin: 0px;
  font-size: medium;
  font-weight: 650;
  font-family: 'Space Mono', monospace;
}
.nav1 .b{
  color:black;
}
.btn{
  position: relative;
  background-color: transparent;
  margin-top: 15px;
  padding: 15px;
  right: 110px;
}
/* nav de abajo */
.nav2{
  text-align:center;
}
.btn2{
  margin-top: 15px;
}
.btn2:hover{
  background-color: black;
}.nav2 a:hover{
  color:white;
}
.c{
  font-family: 'Space Mono', monospace;
}
/* botones individuales */
.mus{
  border: black solid 1px;
  border-radius: 20px;
  font-weight: 750;
}
.nav2 .musa{
  color: black;
  text-decoration: none;
}
.nav2 .musa :hover{
  color: white;
}
.tra{
  border: black solid 4px;
  font-weight: 750;
}
.nav2 .trasha{
  color: #000;
  text-decoration: none;
}
.coll{
  border: black solid 2px;
  border-radius: 20px;
  background-color: black;
  font-weight: 750;
}
.nav2 .colla{
  color: white;
  text-decoration: none;
}
.min{
  border: black solid 2px;
  font-weight: 750;
}
.nav2 .mina{
  color: #000;
  text-decoration: none;
}

/* perfil */



/*
.texto{
    margin-top: 5%;

}

.texto button{
    text-align: center;
} */
/*
.texto2{
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "  ";
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #000000, transparent);
} */

/* .leermas{
  left: 43%;
  margin-top: 35px;
  z-index: 10;
  position: absolute;
} */


/* Galeria */
.perfil{
  margin-top: 1%;
  margin-left:75%;
  width: 25%;
  height: auto;
}
.musica{
    margin-top: -35%;
    margin-left: 11%;
    width: 30%;
    height: auto;
  }
  .trash{
    margin-top: 5%;
    margin-left: 20%;
    width: 30%;
    height: auto;
  }
  .minimal{
    margin-top: -30%;
    margin-left: 55%;
    width: 30%;
    height: auto;
  }
  .collage{
    margin-top:-75%;
    margin-left: 80%;
    width: 35%;
    height: auto;
  }
  .tienda{
    margin-top:-95%;
    margin-left: 35%;
    width: 30%;
    height: auto;
  }
.docart{
  margin-top:-10%;
  margin-left: 5%;
  width: 50%;
  height: auto;
}


  .imgg{
    border: solid transparent 5px;
  }
  .imgg:hover{
    border: solid black 6px;
  }



  /* pie de pagina */
  .pie {
    height: 60px;
    border-top: solid 2px black;
  }

  .negupie{
    margin-top: 0.5%;
    text-align: center;
  }


  .sombrac{
    -webkit-box-shadow: 5px 5px 25px rgb(73, 73, 73);
  }
   @media screen and (min-width: 768px){
    .celu{
      display: none;
    }
  }

  @media screen and (max-width:768px) {
    .nav{
      display: none;
    }
  }


  @media screen and (min-width:768px) {
    .navc{
      display: none;
    }
  }
















  /* GALERIA MUSICA */
  .BYN{
    margin-top: 1%;
    margin-left:15%;
    width: 25%;
    height: auto;
  }
  .hip{
    margin-top: -15%;
    margin-left:43%;
    width: 30%;
    height: auto;
  }
  .POST{
    margin-top: -50%;
    margin-left:85%;
    width: 30%;
    height: auto;
  }
  .intentarlo{
    margin-top: -20%;
    margin-left:15%;
    width: 25%;
    height: auto;
  }
  .Marc{
    margin-top: -20%;
    margin-left:55%;
    width: 30%;
    height: auto;
  }
  .nueva{
    margin-top: -25%;
    margin-left:100%;
    width: 20%;
    height: auto;
  }
  .Rufus{
    margin-top: -15%;
    margin-left:35%;
    width: 25%;
    height: auto;
  }
  .tapa{
    margin-top: -15%;
    margin-left:85%;
    width: 25%;
    height: auto;
  }
    /* GALERIA TRASH */
    .fashion{
      margin-top: 1%;
      margin-left:15%;
      width: 45%;
      height: auto;
    }
    .blessed{
      margin-top: -15%;
      margin-left:53%;
      width: 30%;
      height: auto;
    }
    .crazy{
      margin-top: -80%;
      margin-left:85%;
      width: 30%;
      height: auto;
    }
    .agujero{
      margin-top: -20%;
      margin-left:20%;
      width: 25%;
      height: auto;
    }
    .flay1 {
      margin-top: 0%;
      margin-left:75%;
      width: 25%;
      height: auto;
    }
    .flay2{
      margin-top: -65%;
      margin-left:100%;
      width: 25%;
      height: auto;
    }
    .barras{
      margin-top: -25%;
      margin-left:35%;
      width: 25%;
      height: auto;
    }
    .INSIDE1{
      margin-top: -15%;
      margin-left:90%;
      width: 25%;
      height: auto;
    }
    .INSIDE2{
      margin-top: -15%;
      margin-left:15%;
      width: 25%;
      height: auto;
    }
    .saturacion{
      margin-top: -15%;
      margin-left:55%;
      width: 25%;
      height: auto;
    }
    .colla{
      margin-top: -15%;
      margin-left:85%;
      width: 45%;
      height: auto;
    }
    .sticker{
      margin-top: -45%;
      margin-left:35%;
      width: 35%;
      height: auto;
    }
    .Serena{
      margin-top: -25%;
      margin-left:10%;
      width: 25%;
      height: auto;
    }
    .tocarn{
      margin-top: -15%;
      margin-left:5%;
      width: 25%;
      height: auto;
    }
    .trashh{
      margin-top: -15%;
      margin-left:85%;
      width: 25%;
      height: auto;
    }
        /* GALERIA TRASH */
        .ballena{
          margin-top: 1%;
          margin-left:15%;
          width: 30%;
          height: auto;
        }
        .whale{
          margin-top: -15%;
          margin-left:43%;
          width: 30%;
          height: auto;
        }
        .ciudad{
          margin-top: -50%;
          margin-left:85%;
          width: 45%;
          height: auto;
        }
        .analogo{
          margin-top: -20%;
          margin-left:20%;
          width: 25%;
          height: auto;
        }
        .Juli {
          margin-top: 0%;
          margin-left:75%;
          width: 25%;
          height: auto;
        }
        .DAMN{
          margin-top: -45%;
          margin-left:100%;
          width: 25%;
          height: auto;
        }
        .Diegote{
          margin-top: -25%;
          margin-left:5%;
          width: 45%;
          height: auto;
        }
        .elephant{
          margin-top: -15%;
          margin-left:90%;
          width: 25%;
          height: auto;
        }
        .guerra{
          margin-top: -5%;
          margin-left:15%;
          width: 25%;
          height: auto;
        }
        .flecha{
          margin-top: -15%;
          margin-left:55%;
          width: 25%;
          height: auto;
        }
        .toter{
          margin-top: -55%;
          margin-left:95%;
          width: 25%;
          height: auto;
        }
        .tripy{
          margin-top: -105%;
          margin-left:45%;
          width: 35%;
          height: auto;
        }
        .espacio{
          margin-top: -15%;
          margin-left:90%;
          width: 25%;
          height: auto;
        }
/* MINIMAL */
.bw{
  margin-top: 0%;
  margin-left:20%;
  width: 45%;
  height: auto;
}
.campanario {
  margin-top: -20%;
  margin-left:60%;
  width: 25%;
  height: auto;
}
.espejismo{
  margin-top: -45%;
  margin-left:100%;
  width: 25%;
  height: auto;
}
.lineas1{
  margin-top: -10%;
  margin-left:5%;
  width: 35%;
  height: auto;
}
.realidad{
  margin-top: -15%;
  margin-left:90%;
  width: 45%;
  height: auto;
}
.toterr1{
  margin-top: -65%;
  margin-left:45%;
  width: 25%;
  height: auto;
}
.toterr2{
  margin-top: -205%;
  margin-left:65%;
  width: 25%;
  height: auto;
}